[project]
	description = CrossSkill
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shivajigani
[access "refs/for/refs/*"]
	read = group user/shivajigani
	push = group user/shivajigani
	label-Code-Review = -2..+2 group user/shivajigani
	label-Verified = -1..+1 group user/shivajigani
	rebase = group user/shivajigani
	removeReviewer = group user/shivajigani
	submit = group user/shivajigani
[access "refs/heads/*"]
	read = group user/shivajigani
	create = group user/shivajigani
	push = +force group user/shivajigani
	pushMerge = group user/shivajigani
[access "refs/tags/*"]
	push = group user/shivajigani
	push = +force group user/shivajigani
